{% extends 'base.html.twig' %}

{% block content %}

    <div class="container container_custom">
        <div class="title-wrapper">
            <h1 class="sweet-title">
                <span data-text="Sweet">FRWAY</span>
                <span data-text="Stuff">RP</span>
            </h1>
            <span class="top-title">Bienvenue sur</span>
            <!-- <span class="bottom-title">Le serveur GTA RP</span> -->
        </div>
    </div>

    <div class="container-fluid jobs background_jobs">

        <div class="container ">
            <h1 class=" jobs_custom">Les métiers</h1>
            <div class="row justify-content-center">
                {% for job in jobs %}
                    <div class="col-md-3 mt-5 d-flex flex-wrap justify-content-center text-center card-custom">
                        <div class="card card-background" style="width: 18rem">
                            <div class="container  img-center" style="height: 60%;" >
                                <div class="row " >
                                    <img src="/uploads/{{ job.illustration }}" alt="" class="img-job mx-auto pt-3">
                                </div>
                            </div>
                            <div class="container ">
                                <div class="row">
                                    <div class="card-body fix ">
                                        <h5 class="card-title ">{{ job.name }}</h5>
                                        <a href="{{ job.linkDiscord }} " target="_blank">
                                            <img src="/uploads/discord.png"  class="logo-discord-job mx-auto " alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid pb-5 background-custom-cars1">
        <div class="container-fluid background-custom-cars ">
            <div class="row">
                <div class="col-7 px-5" style="color: white">
                    <h1 class="pt-5">Concession</h1>
                    <p>Découvrez la voiture qui vous correspond le mieux</p>

                    <button class="btn btn-car ">DÉCOUVRIR MAINTENANT</button>
                </div>
                <div class="col-5">

                </div>
            </div>

        </div>

    </div>

{% endblock %}
