{% extends 'base.html.twig' %}

{% block content %}

    <div class="container container_custom">
        <div class="title-wrapper">
            <h1 class="sweet-title">
                <span data-text="Sweet">FRWAY</span>
                <span data-text="Stuff">RP</span>
            </h1>
            <span class="top-title">Bienvenue sur</span>
            <!-- <span class="bottom-title">Le serveur GTA RP</span> -->
        </div>
    </div>

    <div class="container-fluid jobs background_jobs">
        <div class="container">
            <div class="row justify-content-center">
                {% for job in jobs %}
                    <div class="col-md-3 mt-5 d-flex flex-wrap justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img src="/uploads/{{ job.illustration }}" alt="">
                            <div class="card-body">
                                <h5 class="card-title">{{ job.name }}</h5>
                                <a href="{{ job.linkDiscord }}">
                                    <img src="/uploads/discord.png"  class="nav_img-frway" alt="">
                                </a>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
