

@font-face {
	font-family: "HugLove";
	src: url(Huglove-gxPwP.ttf)
}




.nav_img-frway{
    width: 80px;
}

.nav_img{
    width: 40px;
}

.background-custom{
    background-attachment: fixed;
    background-image: url('/uploads/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.background-modif
{
    background-color: rgba(65, 60, 57, 0.3);
    transition:500ms ease;
}


.background-modif.scrolled{
    background-color: rgba(105, 105, 105, 0.35);
}

.custom-container{
    height: 100vh;
}


.container_custom {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




.title-wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    transform: skew(0, -10deg);
 
  }
  
  .top-title {
    font-family: HugLove;
    font-size: 40px;
    order: 1;
    text-align: center;
    display: block;
    color: #fff;

    padding-right: 2rem;
  }
  

  /*
  .bottom-title {
    
    order: 3;
    text-align: center;
    display: block;
    color: #fff;
    font-size: clamp(1rem, 4vw, 1.5rem);
    margin-top: 2rem;
    padding-left: 2rem;
    font-family: "LemonJelly";
  }
  */
  
  .sweet-title {
    order: 2;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: clamp(3rem, 10vw, 6rem);
    line-height: 0.75em;
    text-align: center;
    text-shadow: 3px 1px 1px #3e45a5, 2px 2px 1px #fb1616, 4px 2px 1px #3e45a5,
      3px 3px 1px #fb1616, 5px 3px 1px #3e45a5, 4px 4px 1px #fb1616,
      6px 4px 1px #3e45a5, 5px 5px 1px #fb1616, 7px 5px 1px #3e45a5,
      6px 6px 1px #fb1616, 8px 6px 1px #3e45a5, 7px 7px 1px #fb1616,
      9px 7px 1px #3e45a5;
  
  }

  .jobs_custom{
    padding-top: 120px;
    padding-bottom: 10px;

  }

  .background_jobs{
      background-color: antiquewhite;
  }

  @media (min-width: 767px) {
      .jobs{
          height: 100vh;
      }
  }

@media (max-height: 823px) {
    .jobs{
        height: auto;
    }

}

.logo-discord-job{
    height: 40px;
}

.fix{

    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;

}

.row-custom{
    height: 500px;
}

.img-job{
    width: 80%;
}
.card-custom{

    height: 270px;
}
.img-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-background{
    background-color: #d7c8b3;
}


.background-custom-cars{
    background-color: #262626;

    height: 50vh;
    border-radius: 30px;
}

.btn-car{
    background-color: #4c1d95;
    color: #e8e5e5;
}
.btn-car:hover{
    background-color: #614d81;
}

.background-custom-cars1{
    height: 100vh;
    padding-top: 150px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #262626;
}


