<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>

    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
    <title>Accueil | FRWAY</title>
</head>
<body>



<div class="background-custom" >
    <header>
        <div class="container-fluid px-0">
            <nav class="navbar navbar-expand-lg  fixed-top background_modif">
                <div class="container-fluid ">
                    <img src="/uploads/logofrw.webp" alt="logo FRWAY RP" class="nav_img-frway">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse fw-bold fs-6" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                            <li class="nav-item">
                                <a class="nav-link active "  aria-current="page" href="#">Accueil</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="#">Réglement</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Métiers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Tickets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Concession</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Vote</a>
                            </li>
                        </ul>

                        <form class="d-flex" role="search">
                            <div class="nav_bar_button">
                                <a href="https://discord.gg/RgsBfbj4DR" target="_blank">
                                    <img src="/uploads/discord.png" alt="logo discord" class="nav_img">
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>

            {% block content %}
            {% endblock %}


        </div>
    </header>
</div>
</body>
</html>